version: '3'
services:
  ansible-executor:
    image: prakasa1904/ansible:ubuntu-22.04
    working_dir: /ansible
    container_name: ansible-executor
    privileged: true
    ports:
      - 10000:22
    volumes:
      # SSH Configuration && SSH Key
      - ${PWD}/ssh-key/sshd_config:/etc/ssh/sshd_config
      - ${PWD}/ssh-key/authorized_keys:/root/.ssh/authorized_keys

      # Golang ansible executor
      - ${PWD}/executor:/executor

      # Ansible configuration
      - ${PWD}/ansible:/ansible

      # Fake Authorized Key
      - ${PWD}/ssh-key/id_rsa_fake:/executor/id_rsa_fake
    restart: unless-stopped
  ansible-inventory-ubuntu-22:
    image: docker.io/prakasa1904/sshserver:ubuntu-22.04
    working_dir: /root
    container_name: ansible-inventory-1
    privileged: true
    ports:
      - 10001:22
    volumes:
      - ${PWD}/ssh-key/sshd_config:/etc/ssh/sshd_config
      - ${PWD}/ssh-key/authorized_keys:/root/.ssh/authorized_keys
    restart: unless-stopped
  ansible-inventory-ubuntu-24:
    image: docker.io/prakasa1904/sshserver:ubuntu-22.04
    working_dir: /root
    container_name: ansible-inventory-2
    privileged: true
    ports:
      - 10002:22
    volumes:
      - ${PWD}/ssh-key/sshd_config:/etc/ssh/sshd_config
      - ${PWD}/ssh-key/authorized_keys:/root/.ssh/authorized_keys
    restart: unless-stopped
  
  ansible-inventory-almalinux-9:
    image: prakasa1904/sshserver:almalinux-9
    working_dir: /root
    container_name: ansible-inventory-3
    privileged: true
    ports:
      - 10003:22
    volumes:
      - ${PWD}/ssh-key/sshd_config:/etc/ssh/sshd_config
      - ${PWD}/ssh-key/authorized_keys:/root/.ssh/authorized_keys
    restart: unless-stopped

  ansible-inventory-rockylinux-9:
    image: prakasa1904/sshserver:rockylinux-9
    working_dir: /root
    container_name: ansible-inventory-4
    privileged: true
    ports:
      - 10004:22
    volumes:
      - ${PWD}/ssh-key/sshd_config:/etc/ssh/sshd_config
      - ${PWD}/ssh-key/authorized_keys:/root/.ssh/authorized_keys
    restart: unless-stopped

  ansible-inventory-fedora-43:
    image: prakasa1904/sshserver:fedora-43
    working_dir: /root
    container_name: ansible-inventory-5
    privileged: true
    ports:
      - 10005:22
    volumes:
      - ${PWD}/ssh-key/sshd_config:/etc/ssh/sshd_config
      - ${PWD}/ssh-key/authorized_keys:/root/.ssh/authorized_keys
    restart: unless-stopped

  ansible-inventory-centos-stream-10:
    image: prakasa1904/sshserver:centos-stream-10
    working_dir: /root
    container_name: ansible-inventory-6
    privileged: true
    ports:
      - 10006:22
    volumes:
      - ${PWD}/ssh-key/sshd_config:/etc/ssh/sshd_config
      - ${PWD}/ssh-key/authorized_keys:/root/.ssh/authorized_keys
    restart: unless-stopped
