services:
  ansible-executor:
    image: prakasa1904/ansible:ubuntu-22.04
    working_dir: /ansible
    container_name: ansible-executor
    privileged: true
    ports:
      - 10000:22
    volumes:
      # SSH Configuration && SSH Key
      - ${PWD}/ssh-key/sshd_config:/etc/ssh/sshd_config
      - ${PWD}/ssh-key/authorized_keys:/root/.ssh/authorized_keys

      # Golang ansible executor
      - ${PWD}/executor:/executor

      # Ansible configuration
      - ${PWD}/ansible:/ansible

      # Fake Authorized Key
      - ${PWD}/ssh-key/id_rsa_fake:/executor/id_rsa_fake
    restart: unless-stopped
  ansible-inventory:
    image: docker.io/prakasa1904/sshserver:ubuntu-22.04
    working_dir: /root
    container_name: ansible-inventory
    privileged: true
    ports:
      - 10001:22
      - 50000:50000
      - 50001:50001
      - 50002:50002
      - 50003:50003
      - 50004:50004
      - 50005:50005
      - 50006:50006
      - 50007:50007
      - 50008:50008
      - 50009:50009
      - 50010:50010
    volumes:
      - ${PWD}/ssh-key/sshd_config:/etc/ssh/sshd_config
      - ${PWD}/ssh-key/authorized_keys:/root/.ssh/authorized_keys
    restart: unless-stopped
