# Ignore everything by default
*
*/

# But keep these files/folders
!.gitignore
!.gitkeep
!README.md

# Allow file
!devetek.backup-db-postgresql/
!devetek.restore-db-postgresql/
!clickhouse-install/
!clickhouse-server/
!devetek.alertmanager/

# Allow folder
!devetek.backup-db-postgresql/**
!devetek.restore-db-postgresql/**
!clickhouse-install/**
!clickhouse-server/**
!devetek.alertmanager/**